@font-face {
    font-family: 'Amatic';
    font-style: normal;
    font-weight: 400;
    src: local('AmaticSC-Regular'), url('../fonts/AmaticSC-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Amatic';
    font-style: normal;
    font-weight: 700;
    src: local('Amatic-Bold'), url('../fonts/Amatic-Bold.ttf') format('truetype');
}

body {
  color: #444;
  font-size: 42px;
  margin: 0; /* 40px auto; */
  /* max-width: 720px; */
  line-height: 1.4;
  font-family: georgia, serif;
  padding: 0; /* 10px 16px; */
  background-color: rgb(235, 243, 246)
}
h1,h2,h3 {
  line-height: 1.2
}
a {
  text-decoration: none;
}
h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
th, td {
  border-top: 1px solid #444;
  padding: 10px 16px;
}
input, textarea, select, button {
  font-family: serif;
  font-size: 18px;
  color: #666;
  padding: 10px 2%;
  line-height: 1.4;
}
label, button {
  margin-top: 10px;
}
label {
  display: block;
}
fieldset {
  padding: 10px 16px;
}
input, textarea {
  width: 96%;
}
select {
  width: 100%;
}
label input {
  width: auto;
}

.title {
  color: rgb(235, 243, 246);
  margin-left: 2%;
  margin-right: 2%;
  text-align: center;
  width: 96%;
}
h1.title {
  font-family: Amatic, georgia, serif;
  font-size: 84px;
}
h3.title {
  font-size: 36px;
}
h5.title {
  color: rgb(48, 94, 92);
  font-size: 30px;
}

/* PARALLAX */

.keyart, .keyart_layer {
  height: 800px;
}

#parallax {
  display: block;
}
.keyart {
  position: relative;
  z-index: 10;
}

.keyart_layer {
  background-position: bottom center;
  background-size: auto 1000px;
  background-repeat: no-repeat;
  width: 100%;
  position: absolute;
}
.keyart_layer.parallax {
  position: fixed;
}
  #keyart-0 {
    background-image: url('../images/mvbg.jpg');
    // background-color: #ffaf1b;
  }
  #keyart-1 {
    /* background-image: url('../images/parallax/parallax1.png'); */
  }

.main-content {
    background-color: rgb(235, 243, 246);
    position: relative;
    z-index: 98;
    text-align: center;
    padding: 40px 0;
}
.main-content h5 {
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
}

.vertical {
    border-left: 1px solid #444;
    height: 200px;
    margin-left: 50%;
    width: 1px;
}
